.body-contents
  %section.content-head
    .title-log
      %p.title-name 今週の特売商品
  %section.content-items-weekNewItem
    .itemCards-area
      .card
        %svg.bd-placeholder-img.card-img-top{"aria-label" => "Placeholder: Image cap", focusable: "false", height: "180", preserveaspectratio: "xMidYMid slice", role: "img", width: "100%", xmlns: "http://www.w3.org/2000/svg"}
          %title Placeholder
          %text{dy: ".3em", fill: "#dee2e6", x: "50%", y: "50%"} Image cap
        .card-body
          %h5.card-title Card title
          %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
        %ul.list-group.list-group-flush
          %li.list-group-item Cras justo odio
          %li.list-group-item Dapibus ac facilisis in
          %li.list-group-item Vestibulum at eros
        .card-body
          %a.btn.btn-primary{href: "#"} Go somewhere
      .card
        %svg.bd-placeholder-img.card-img-top{"aria-label" => "Placeholder: Image cap", focusable: "false", height: "180", preserveaspectratio: "xMidYMid slice", role: "img", width: "100%", xmlns: "http://www.w3.org/2000/svg"}
          %title Placeholder
          %text{dy: ".3em", fill: "#dee2e6", x: "50%", y: "50%"} Image cap
        .card-body
          %h5.card-title Card title
          %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
        %ul.list-group.list-group-flush
          %li.list-group-item Cras justo odio
          %li.list-group-item Dapibus ac facilisis in
          %li.list-group-item Vestibulum at eros
        .card-body
          %a.btn.btn-primary{href: "#"} Go somewhere
      .card
        %svg.bd-placeholder-img.card-img-top{"aria-label" => "Placeholder: Image cap", focusable: "false", height: "180", preserveaspectratio: "xMidYMid slice", role: "img", width: "100%", xmlns: "http://www.w3.org/2000/svg"}
          %title Placeholder
          %text{dy: ".3em", fill: "#dee2e6", x: "50%", y: "50%"} Image cap
        .card-body
          %h5.card-title Card title
          %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
        %ul.list-group.list-group-flush
          %li.list-group-item Cras justo odio
          %li.list-group-item Dapibus ac facilisis in
          %li.list-group-item Vestibulum at eros
        .card-body
          %a.btn.btn-primary{href: "#"} Go somewhere
      .card
        %svg.bd-placeholder-img.card-img-top{"aria-label" => "Placeholder: Image cap", focusable: "false", height: "180", preserveaspectratio: "xMidYMid slice", role: "img", width: "100%", xmlns: "http://www.w3.org/2000/svg"}
          %title Placeholder
          %text{dy: ".3em", fill: "#dee2e6", x: "50%", y: "50%"} Image cap
        .card-body
          %h5.card-title Card title
          %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
        %ul.list-group.list-group-flush
          %li.list-group-item Cras justo odio
          %li.list-group-item Dapibus ac facilisis in
          %li.list-group-item Vestibulum at eros
        .card-body
          %a.btn.btn-primary{href: "#"} Go somewhere
